*, *::before, *::after {
    margin: 0%;
}
main {
    border: 10px solid black;
    flex-direction: column;
    min-height: 3000px;
}
nav {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Barlow';
}
.logo {
    color: antiquewhite;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    text-align: center;
}
.nav-links {
    display:flex;
    justify-content: space-around;
    width:40%;
}
.nav-links li {
    list-style: none;
}
.nav-links a {
    color: white;
    text-decoration: none;
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div {
    width: 26px;
    height:4px;
    background-color:antiquewhite;
    margin:5px;
    border-radius: 10px;
    transition: all 0.3s ease;
}
.h1 {
    font-family: 'Asap';
    font-size: 100px;
    letter-spacing: 0px;
    font-weight: 600;
    font-style: normal;
}
.h1---mobile {
    font-family: 'Asap';
    font-size: 100px;
    letter-spacing: 0%;
    font-weight: 600;
    font-style: normal;
}
.h2 {
    font-family: 'Barlow';
    font-size: 32px;
    font-weight: 600;
    font-style: normal;
}
.h3 {
    font-family: 'Asap';
    font-size: 27px;
    font-weight: 600;
}

/* hero */
hero {
    display : grid ;
    grid-template-columns : repeat(2, 1fr) ;
    grid-template-rows : repeat(3, 1fr) ;
    grid-column-gap : 0px;
    grid-row-gap : 0px ;
    margin-top: 6%;
    margin-left: 6%;
    margin-right: auto;
    margin-bottom: 5%;
    max-height: 900px;
    align-content: center;
    justify-content: center;
}
.hero-subtitle {
    grid-area : 1 / 1 / 2 / 2 ;
    align-self: flex-end;
    /* margin-top: 30%;
    margin-left: 13%; */
}
.hero-title {
    grid-area : 2 / 1 / 3 / 2 ;
    width: 80%;
}
.hero-text {
    grid-area : 3 / 1 / 4 / 2 ;
    font-weight: 400;
    width: 80%;
}
.profile-pic {
    grid-area : 1 / 2 / 4 / 3 ;
    height: 540px;
    width: 460px;
    align-self: center;
    justify-self: center;
    border-radius: 57% 43% 69% 31% / 32% 57% 43% 68% ;
    box-shadow: rgba(146, 102, 86, 0.637) 0px 2px 55px 2px;
}
.applications {
    align-items: center;
    display: flex;
    flex:1;
    justify-content: center;
    height: 100px;
    padding-bottom: 70px;
}
.logos {
    height: 63px;
    margin-left: -1.6px;
    margin-top: 0;
    max-width: 90px;
    padding: 15px;
}
.skillsets{
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
}
.cards {
    align-items: flex-start;
    display: flex;
    margin-top: -1px;
    min-width: 1080px;
    height: 670px;
}
.frame-animate {
    align-items: center;
    border-radius: 10px;
    height: 450px;
    justify-content: center;
    transform: translate(0, 25px);
    width: 330px;
    transform: translate(0, 25px);
}
.frame {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 63px;
    height: 330px;
    justify-content: center;
    margin-left: 0;
    width: 249.9px;
}
.frame-photo{
    border-radius: 5px;
    object-fit:contain;
    height: 330px;
    max-width: 249px;
}
.frame-title {
    height: 142px;
    min-width: 249.9px;
    position: relative;
}
.frame1-title-text {
    font-weight: 600;
    left: 0;
    line-height: 42px;
    position: absolute;
    text-align: center;
    top: -1px;
    white-space: nowrap;
    width: 250px;
    font-family: 'Asap';
}
.frame-body{
    font-weight: 400;
    left:0;
    line-height: 27px;
    position: absolute;
    text-align: center;
    top: 60px;
    width: 250px;
    font-family: 'Barlow';
}
.frame2-animate {
    align-items: center;
    border-radius: 10px;
    height: 450px;
    justify-content: center;
    margin-left: 45px;
    transform: translate(0, 25px);
    width:330px;
}
.frame2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 61px;
    height: 330px;
    justify-content: center;
    margin-left: 0;
    margin-top: -0.6px;
    width: 249.9px;
}
.frame2-photo {
    border-radius: 5px;
    object-fit:cover;
    height: 330px;
    max-width: 249px;
}
.frame-2 {
    height: 142px;
    min-width: 249.9px;
    position: relative;
}
.frame2-title {
    font-weight: 600;
    left: 0px;
    line-height: 42px;
    position: absolute;
    text-align: center;
    top: -1px;
    white-space: nowrap;
    width: 250px;
    font-family: 'Asap';
}
.frame2-body {
    font-weight: 400;
    left: 0;
    line-height: 27px;
    position: absolute;
    text-align: center;
    top: 60px;
    width: 250px;
    font-family:'Barlow';
}
.frame3-animate {
    align-items: center;
    border-radius: 10px;
    height: 450px;
    justify-content: center;
    margin-left: 45px;
    transform: translate(0, 25px);
    width:330px;
}
.frame3 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 61px;
    height: 330px;
    justify-content: center;
    margin-left: 0;
    margin-top: -0.6px;
    width: 249.9px;
}
.frame3-photo {
    border-radius: 5px;
    object-fit:cover;
    height: 330px;
    max-width: 249px;
}
.frame-3 {
    height: 142px;
    min-width: 249.9px;
    position: relative;
}
.frame3-title {
    font-weight: 600;
    left: 0px;
    line-height: 42px;
    position: absolute;
    text-align: center;
    top: -1px;
    white-space: nowrap;
    width: 250px;
    font-family: 'Asap';
}
.frame3-body {
    font-weight: 400;
    left: 0;
    line-height: 27px;
    position: absolute;
    text-align: center;
    top: 60px;
    width: 250px;
    font-family: 'Barlow';
}
.gallery-title {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    font-family: 'Asap';
    font-size: 25px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.gallery-cards {
    display : grid ;
    grid-template-columns : repeat(3, 1fr) ;
    grid-template-rows : 4fr 1fr 2fr 4fr 1fr 2fr ;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: 5%;
}
.gallery-card1{
    grid-area: 1 / 1 / 4 / 2;
    justify-self: center;
}
.photo{
    grid-area: 1 / 1 / 2 / 2;
    object-fit:cover;
    height: 330px;
    width: 300px;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    line-height:1em;
    border:solid 4px rgb(211, 181, 142);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.photo:hover, .photo:focus{
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.title{
    text-decoration: none;
    color: black;
    font-family:'Asap';
    font-weight:bold;
    font-size: 24px;
}
.body-text {
    font-family: 'Barlow';
    font-weight: 600;
    font-size: 18px;
    color: dimgray;
    max-width: 80%;
    align-items: center;
}
.subtitle {
    font-family: 'Barlow';
    font-size: 20px;
    letter-spacing: 0%;
    font-weight: 500;
}
.gallery-card2{
    grid-area: 1 / 2 / 4 / 3;
    align-self: center;
}
.gallery-card3{
    grid-area: 1 / 3 / 4 / 4;
    justify-self: center;
}
.gallery-card5{
    grid-area: 4 / 1 / 7 / 2;
    justify-self: center;
}
.gallery-card4{
    grid-area: 4 / 2 / 7 / 3;
    justify-self: center;
}
.gallery-card6{
    grid-area: 4 / 3 / 7 / 4;
    justify-self: center;
}

footer {
    align-items: center;
    flex:1;
    max-height: 720px;
    padding: 60px 94px;
}

.overlap {
    align-items: stretch;
    display : grid ;
    grid-template-columns : repeat(2, 1fr) ;
    grid-template-rows : repeat(1, 1fr) ;
    grid-column-gap : 30px;
    grid-row-gap : 0px ;
    padding-bottom: 90px;
}

.contact-text {
    left: 1px;
    min-height: 305px;
    top: 0;
    width: 364px;
}
.contact-title {
    font-weight: 600;
    line-height: 42px;
    min-height: 42px;
}

.contact-body {
    font-weight: 400;
    line-height: 27px;
    margin-top: 36px;
    min-height: 135px;
    width: 360px;
}

.media-icons {
    height: 36px;
    margin-top: 56px;
    width: 232px;
}

.discord {
    cursor: pointer;
    height: 36px;
    left: 0;
    line-height: 42.7px;
    top: 266px;
    width: 36px;
}

.linkedin {
    cursor: pointer;
    height: 36px;
    left: 49px;
    line-height: 42.7px;
    top: 266px;
    width: 36px;
}

.github {
    cursor: pointer;
    height: 36px;
    left: 98px;
    line-height: 42.7px;
    top: 266px;
    width: 36px;
}
.contact-name {
    padding-bottom: 12px;
}
.name {
    align-items:stretch;
    background-color: gainsboro;
    height: 35px;
    justify-content: flex-end;
    width: 400px;
    padding: 19px 31.2px;
    position: sticky;
    border-radius: 5px;
    border-width: .5px;
    cursor: text;
}
.name::placeholder {
    color: black;
    font-family: 'Barlow';
    font-size: 20px;
}

.email {
    align-items: flex-end;
    background-color: gainsboro;
    display: flex;
    height:35px;
    justify-content: flex-end;
    border-radius: 5px;
    width: 400px;
    padding: 19px 31.2px;
    border-width: .5px;
}
.email::placeholder {
    color: black;
    font-family: 'Barlow';
    font-size: 20px;
}
.contact-message{
    padding-top: 12px;
}
.message{
    align-items: flex-end;
    background-color: gainsboro;
    display: flex;
    height:80px;
    justify-content: flex-end;
    border-radius: 5px;
    width: 400px;
    padding: 19px 31.2px;
    border-width: .5px;
}
.message::placeholder{
    color: black;
    font-family: 'Barlow';
    font-size: 20px;
}
.btn{
    padding-top: 12px;
}
.submit-button{
    background-color: black;
    color: antiquewhite;
    border-radius: 50px;
    padding: 19px 20px;
    cursor: pointer;
}

/*media query*/
@media screen and (min-width: 976px) and (max-width: 1246px) {
    .applications{
        align-self: center;
        display: grid;
        flex:1;
        justify-items: center;
        padding-bottom: 70px;
        grid-template-columns : repeat(6, 1fr) ;
        grid-template-rows : repeat(2, 1fr) ;
    }
}
@media screen and (min-width:280px) and (max-width: 975px) {
    body {
        border: 2px solid black;
        min-height: 3000px;
        width: auto;
    }
    main{
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
    }
    .applications{
        display: grid;
        grid-template-columns : repeat(3, 1fr) ;
        grid-template-rows : repeat(4, 1fr) ;
        align-self: center;
    }
    .nav-links{
        position: absolute;
        border-radius: 0px 0px 0px 500px;
        right:0px;
        height:92%;
        top: 7vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        z-index: 9;
        color: antiquewhite;
        transform: translateX(100%);
        transition: transform 0.4s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
    .nav-active{
        transform: translateX(0%);
    }
    hero{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.6fr 1fr 1fr 1.4fr;
        gap: 18px 5px;
        grid-template-areas:
        "hero-subtitle"
        "title"
        "hero-text"
        "profile-pic";
        min-height: 1000px;
    }
    .hero-subtitle { 
        grid-area: hero-subtitle; 
    }
    .title { 
        grid-area: title; 
    }
    .hero-text { 
        grid-area: hero-text; 
    }
    .profile-pic { 
        grid-area: profile-pic;
        object-fit: cover;
    }
}

/*building animation*/
@keyframes navLinkFade {
    from{
        opacity:0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
    
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}