*, *::before, *::after {
    margin: 0%;

}

main {
    border: 10px solid black;
    flex-direction: column;
}

.body-text {
    font-family: 'Barlow';
    font-weight: 600;
    font-size: 18px;
}

.h1 {
    font-family: 'Asap';
    font-size: 100px;
    letter-spacing: 0px;
    font-weight: 600;
    font-style: normal;
}

.h1---mobile {
    font-family: 'Asap';
    font-size: 100px;
    letter-spacing: 0%;
    font-weight: 600;
    font-style: normal;
}

.h3 {
    font-family: 'Asap';
    font-size: 27px;
    font-weight: 600;
}

.subtitle {
    font-family: 'Barlow';
    font-size: 20px;
    letter-spacing: 0%;
    font-weight: 600;
    font-style: normal;
}


/* hero */

hero {
    align-items: center;
    background-color: white;
    display: flex;
    position: relative;
    box-sizing: border-box;
    flex: 1;
    max-height: 720px;
    flex-shrink: 1;
    padding: 10%;
    margin: auto;
}

.group1 {
    align-items: flex-start;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    min-height: 384px;
    left: 40%;
}

.hero-subtitle {
    font-weight: 600;
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
    display: flex;
    flex-direction:column;
    justify-content: center;
}

.title {
   display: flex;
   flex-direction: column;
   justify-content: center;
   font-weight: 600;
   height: 204px;
   margin-top: 46px;
   width: 464px;
}

.hero-text {
    font-weight: 400;
    line-height: 27px;
    margin-top: 50px;
    min-height:54px;
    width: 419px;
}

.profile-pic {
    left: 60%;
    align-content: flex-end;
    height: 540px;
    display: flex;
    width: 460px;
    position:absolute;
    margin: auto;
    border-collapse: separate;
    border-radius: 9%;
}

.applications {
    align-items: center;
    display: flex;
    flex:1;
    justify-content: center;
    max-height: 180px;
}

.logos {
    height: 70px;
    margin-left: -1.6px;
    margin-top: 0;
    width: 100px;
    padding: 15px;
}

.skillsets {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    max-height: 600px;
}

.cards {
    align-items: flex-start;
    display: flex;
    justify-content: flex-end;
    margin-top: -1px;
    min-width: 1080px;
}

.frame-animate {
    align-items: center;
    border-radius: 10px;
    height: 450px;
    justify-content: center;
    transform: translate(0, 25px);
    width: 330px;
}

.frame {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 63px;
    height: 330px;
    justify-content: center;
    margin-left: 0;
    width: 249.9px;
}

.frame-photo{
    height: 125px;
    min-width: 125px;
}

.frame-title {
    height: 142px;
    min-width: 249.9px;
    position: relative;
}
.frame1-title-text {
    font-weight: 600;
    left: 0;
    line-height: 42px;
    position: absolute;
    text-align: center;
    top: -1px;
    white-space: nowrap;
    width: 250px;
}

.frame-body{
    font-weight: 400;
    left:0;
    line-height: 27px;
    position: absolute;
    text-align: center;
    top: 60px;
    width: 250px;
}

@media (min-width: 768px) {
    hero {
        min-height: 700px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}