*, *::before, *::after {
    margin: 0%;
}

main {
    border: 10px solid black;
    flex-direction: column;
    min-height: 3000px;
}

.body-text {
    font-family: 'Barlow';
    font-weight: 700;
    font-size: 18px;
}

.h1 {
    font-family: 'Asap';
    font-size: 100px;
    letter-spacing: 0px;
    font-weight: 600;
    font-style: normal;
}

.h1---mobile {
    font-family: 'Asap';
    font-size: 100px;
    letter-spacing: 0%;
    font-weight: 600;
    font-style: normal;
}

.h2 {
    font-family: 'Barlow';
    font-size: 32px;
    font-weight: 600;
    font-style: normal;
}

.h3 {
    font-family: 'Asap';
    font-size: 27px;
    font-weight: 600;
}

.subtitle {
    font-family: 'Barlow';
    font-size: 20px;
    letter-spacing: 0%;
    font-weight: 600;
    font-style: normal;
}


/* hero */

hero {
    align-items: center;
    background-color: white;
    display: flex;
    position: relative;
    box-sizing: border-box;
    flex: 1;
    max-height: 720px;
    flex-shrink: 1;
    padding: 10%;
    margin: auto;
}

.group1 {
    align-items: flex-start;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    min-height: 384px;
    left: 40%;
}

.hero-subtitle {
    font-weight: 600;
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
    display: flex;
    flex-direction:column;
    justify-content: center;
}

.title {
   display: flex;
   flex-direction: column;
   justify-content: center;
   font-weight: 600;
   height: 204px;
   margin-top: 46px;
   width: 464px;
}

.hero-text {
    font-weight: 400;
    line-height: 27px;
    margin-top: 50px;
    min-height:54px;
    width: 419px;
}

.profile-pic {
    left: 60%;
    align-content: flex-end;
    height: 540px;
    display: flex;
    width: 460px;
    position:absolute;
    margin: auto;
    border-collapse: separate;
    border-radius: 9%;
}

.applications {
    align-items: center;
    display: flex;
    flex:1;
    justify-content: center;
    max-height: 180px;
}

.logos {
    height: 70px;
    margin-left: -1.6px;
    margin-top: 0;
    max-width: 100px;
    padding: 15px;
}

.skillsets {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    /* max-height: 600px; */
}

.cards {
    align-items: flex-start;
    display: flex;
    /* justify-content: flex-end; */
    margin-top: -1px;
    min-width: 1080px;
    height: 670px;
}

.frame-animate {
    align-items: center;
    border-radius: 10px;
    height: 450px;
    justify-content: center;
    transform: translate(0, 25px);
    width: 330px;
    transform: translate(0, 25px);
}

.frame {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 63px;
    height: 330px;
    justify-content: center;
    margin-left: 0;
    width: 249.9px;
}

.frame-photo{
    height: 125px;
    min-width: 125px;
}

.frame-title {
    height: 142px;
    min-width: 249.9px;
    position: relative;
}

.frame1-title-text {
    font-weight: 600;
    left: 0;
    line-height: 42px;
    position: absolute;
    text-align: center;
    top: -1px;
    white-space: nowrap;
    width: 250px;
}

.frame-body{
    font-weight: 400;
    left:0;
    line-height: 27px;
    position: absolute;
    text-align: center;
    top: 60px;
    width: 250px;
}

.frame2-animate {
    align-items: center;
    border-radius: 10px;
    height: 450px;
    justify-content: center;
    margin-left: 45px;
    transform: translate(0, 25px);
    width:330px;
}

.frame2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 61px;
    height: 330px;
    justify-content: center;
    margin-left: 0;
    margin-top: -0.6px;
    width: 249.9px;
}

.frame2-photo {
    height: 127px;
    min-width: 130.46px;
}

.frame-2 {
    height: 142px;
    min-width: 249.9px;
    position: relative;
}

.frame2-title {
    font-weight: 600;
    left: 0px;
    line-height: 42px;
    position: absolute;
    text-align: center;
    top: -1px;
    white-space: nowrap;
    width: 250px;
}

.frame2-body {
    font-weight: 400;
    left: 0;
    line-height: 27px;
    position: absolute;
    text-align: center;
    top: 60px;
    width: 250px;
}

.frame3-animate {
    align-items: center;
    border-radius: 10px;
    height: 450px;
    justify-content: center;
    margin-left: 45px;
    transform: translate(0, 25px);
    width:330px;
}

.frame3 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 61px;
    height: 330px;
    justify-content: center;
    margin-left: 0;
    margin-top: -0.6px;
    width: 249.9px;
}

.frame3-photo {
    height: 127px;
    min-width: 130.46px;
}

.frame-3 {
    height: 142px;
    min-width: 249.9px;
    position: relative;
}

.frame3-title {
    font-weight: 600;
    left: 0px;
    line-height: 42px;
    position: absolute;
    text-align: center;
    top: -1px;
    white-space: nowrap;
    width: 250px;
}

.frame3-body {
    font-weight: 400;
    left: 0;
    line-height: 27px;
    position: absolute;
    text-align: center;
    top: 60px;
    width: 250px;
}

.gallery {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
}

.gallery-cards {
    padding: 60px;
    align-items: center;
    display: grid;
    grid-template-columns : repeat(3, 1fr) ;
    grid-template-rows : repeat(2, 1fr) ;
    grid-column-gap : 20px;
    grid-row-gap : 20px ;
    margin-top: -1px;
    height:1100px;
}

.card1-photo {
    position: relative;
    height: 330px;
    object-fit: cover;
    width: 330px;
}

.project1-title {
    font-weight: 600;
    line-height: 30px;
    margin-top: 24px;
    min-height: 30px;
}
.project1 {
    font-weight: 400;
    line-height: 27px;
    margin-top: 10px;
    min-height: 27px;
}

.card2-photo {
    position: relative;
    height: 330px;
    object-fit: cover;
    width: 330px;
}

.project2-title {
    font-weight: 600;
    line-height: 30px;
    margin-top: 24px;
    min-height: 30px;
}

.project2 {
    font-weight: 400;
    line-height: 27px;
    margin-top: 10px;
    min-height: 27px;
}

.card3-photo {
    position: relative;
    height: 330px;
    object-fit: cover;
    width: 330px;
}

.project3-title {
    font-weight: 600;
    line-height: 30px;
    margin-top: 24px;
    min-height: 30px;
}

.project3 {
    font-weight: 400;
    line-height: 27px;
    margin-top: 10px;
    min-height: 27px;
}

.card4-photo {
    position: relative;
    height: 330px;
    object-fit: cover;
    width: 330px;
}

.project4-title {
    font-weight: 600;
    line-height: 30px;
    margin-top: 24px;
    min-height: 30px;
}

.project4 {
    font-weight: 400;
    line-height: 27px;
    margin-top: 10px;
    min-height: 27px;
}

.card5-photo {
    position: relative;
    height: 330px;
    object-fit: cover;
    width: 330px;
}

.project5-title {
    font-weight: 600;
    line-height: 30px;
    margin-top: 24px;
    min-height: 30px;
}

.project5 {
    font-weight: 400;
    line-height: 27px;
    margin-top: 10px;
    min-height: 27px;
}

.card6-photo {
    position: relative;
    height: 330px;
    object-fit: cover;
    width: 330px;
}

.project6-title {
    font-weight: 600;
    line-height: 30px;
    margin-top: 24px;
    min-height: 30px;
}

.project6 {
    font-weight: 400;
    line-height: 27px;
    margin-top: 10px;
    min-height: 27px;
}

footer {
    align-items: center;
    flex:1;
    max-height: 720px;
    padding: 55.2px 94px;
}

.overlap {
    align-items: stretch;
    display : grid ;
    grid-template-columns : repeat(2, 1fr) ;
    grid-template-rows : repeat(1, 1fr) ;
    grid-column-gap : 30px;
    grid-row-gap : 0px ;
    padding-bottom: 90px;
}

.contact-text {
    left: 1px;
    min-height: 305px;
    top: 0;
    width: 364px;
}
.contact-title {
    font-weight: 600;
    line-height: 42px;
    min-height: 42px;
}

.contact-body {
    font-weight: 400;
    line-height: 27px;
    margin-top: 36px;
    min-height: 135px;
    width: 360px;
}

.media-icons {
    height: 36px;
    margin-top: 56px;
    width: 232px;
}

.discord {
    cursor: pointer;
    height: 36px;
    left: 0;
    line-height: 42.7px;
    top: 266px;
    width: 36px;
}

.linkedin {
    cursor: pointer;
    height: 36px;
    left: 49px;
    line-height: 42.7px;
    top: 266px;
    width: 36px;
}

.github {
    cursor: pointer;
    height: 36px;
    left: 98px;
    line-height: 42.7px;
    top: 266px;
    width: 36px;
}
.contact-name {
    padding-bottom: 12px;
}
.name {
    align-items:stretch;
    background-color: gainsboro;
    height: 35px;
    justify-content: flex-end;
    width: 400px;
    padding: 19px 31.2px;
    position: sticky;
    border-radius: 5px;
    border-width: .5px;
    cursor: text;
}
.name::placeholder {
    color: black;
    font-family: 'Barlow';
    font-size: 20px;
}

.email {
    align-items: flex-end;
    background-color: gainsboro;
    display: flex;
    height:35px;
    justify-content: flex-end;
    border-radius: 5px;
    width: 400px;
    padding: 19px 31.2px;
    border-width: .5px;
}
.email::placeholder {
    color: black;
    font-family: 'Barlow';
    font-size: 20px;
}
.contact-message{
    padding-top: 12px;
}
.message{
    align-items: flex-end;
    background-color: gainsboro;
    display: flex;
    height:80px;
    justify-content: flex-end;
    border-radius: 5px;
    width: 400px;
    padding: 19px 31.2px;
    border-width: .5px;
}
.message::placeholder{
    color: black;
    font-family: 'Barlow';
    font-size: 20px;
}


@media (min-width: 768px) {
    hero {
        min-height: 700px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}