* {
    background: rgb(43, 46, 47);
}

.portfolio-design {
    width: 1440px;
    height: 2844px;
    display: flex;
    position: relative;
    max-width: 1440px;
    box-sizing: border-box;
    align-items: 1;
    border-color: transparent;
}
.portfolio-content {
    top: 0px;
    left: 0px;
    width: 1440px;
    display: flex;
    padding: 48px 180px 112px 180px;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    flex-direction: column;
    justify-content: center;
}

.topbar {
    width: 1080px;
    margin: 0 0 120px 0;
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    border-color: transparent;
}

.logo {
    width: 188px;
    height: 29px;
    margin: 0 663px 0 0;
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: fles-start;
    border-color: transparent;
}

.name {
    top: 0px;
    left: 0px;
    color: yellow;
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.name1 {
    color: yellow;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-weight: 700px;
    font-stretch: normal;
    text-decoration: none;
}

.contact-me {
    color: darkblue;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-weight: 700px;
    font-stretch: normal;
    text-decoration: none;
}

.name2 {
    color: white;
    height: auto;
    align-self: auto;
    font-style: noraml;
    text-align: left;
    font-weight: 700px;
    font-stretch: normal;
    text-decoration: none;
}

.work {
    color: white;
    height: auto;
    margin: 0 40 px 0 0;
    font-size: 16px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 500px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.about {
    color: white;
    height: auto;
    margin: 0 40 px 0 0;
    font-size: 16px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 500px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.contact {
    color: white;
    height: auto;
    margin: 0 40 px 0 0;
    font-size: 16px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 500px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.hero {
    margin: 0 0 120px 0;
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    flex-direction: column;
}

.hero-text {
    color: white;
    width: 620px;
    height: auto;
    font-style: normal;
    text-align: left;
    font-weight: 500px;
    font-stretch: normal;
    text-decoration: none;
}

.selected-works {
    
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    flex-direction: column;
}

.title {
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    flex-direction: column;
}

.selected-works-text {
    color: white;
    height: auto;
    font-size: 64px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 500px;
    line-height: 132%;
    font-stretch: normal;
    text-decoration: none;
}

.projects-group {
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 1;
    border-color: transparent;
    flex-direction: column;
    justify-content: center;
}

.project {
    margin: 40px 0px 60px 0;
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    justify-content: center;
}

.project1 {
    margin: 0 24px 0 0;
    display: flex;
    padding: 8px;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    flex-direction: column;
    justify-content: center;
}

.change-photo {
    width: 512px;
    height: 341px;
    margin: 0 0 8px 0;
    display: flex;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
}

.image {
    top: 0px;
    left: 0px;
    width: 512px;
    height: 341px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
}

.project1-text {
    color: white;
    width: 521px;
    height: auto;
    margin: 0 0 8px 0;
    font-size: 24px;
    align-self: auto;
    text-align: left;
    font-family: Inter;
    font-weight: 500px;
    line-height: 132%;
    font-stretch: normal;
    text-decoration: none;
}

.project1-links {
    width: 512px;
    height: 28px;
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    justify-content: center;
}

.github-text {
    top: 0px;
    left: 0px;
    color: yellow;
    height: auto;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 700px;
    line-height: 140%;
    font-stretch: normal;
    text-decoration: none;
}

.view-deployed-text {
    top: 0px;
    color: yellow;
    height: auto;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 700px;
    line-height: 140%;
    font-stretch: normal;
    text-decoration: none;
}

.project2 {
    display: flex;
    padding: 8px;
    position: relative;
    box-sizing: border-box;
    align-items: fle-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    flex-direction: column;
    justify-content: center;
}

.change-photo2 {
    width: 512px;
    height: 341px;
    margin: 0 0 8px 0;
    display: flex;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
}

.image2 {
    top: 0px;
    left: 0px;
    width: 512px;
    height: 341px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
}

.project2-text {
    color: white;
    width: 512px;
    height: auto;
    margin: 0 0 8px 0;
    font-size: 24px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 500px;
    line-height: 132%;
    font-stretch: normal;
    text-decoration: none;
}

.project2-links {
    width: 512px;
    height: 28px;
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    justify-content: center;
}

.github-text2 {
    top: 0px;
    left: 0px;
    color: yellow;
    height: auto;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 700px;
    line-height: 140%;
    font-stretch: normal;
    text-decoration: none;
}

.view-deployed-text2 {
    top: 0px;
    color: yellow;
    height: auto;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 700px;
    line-height: 140%;
    font-stretch: normal;
    text-decoration: none;
}

.project3 {
    margin: 0 24px 0 0;
    display: flex;
    padding: relative;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    flex-direction: column;
    justify-content: center;
}

.change-photo3 {
    width: 512px;
    height: 341px;
    margin: 0 0 8px 0;
    display: flex;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent
}

.image3 {
    top: 0px;
    left: 0px;
    width: 512px;
    height: 341px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
}

.project3-text {
    color: white;
    width: 512px;
    height: auto;
    margin: 0 0 8px 0;
    font-size: 24px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 500px;
    line-height: 132%;
    font-stretch: normal;
    text-decoration: none;
}

.project3-links {
    width: 512px;
    height: 28px;
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    justify-content: center;
}

.github-text3 {
    top: 0px;
    left: 0px;
    color: yellow;
    height: auto;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 700px;
    line-height: 140%;
    font-stretch: normal;
    text-decoration: none;
}


.view-deployed-text3 {
    top: 0px;
    color: yellow;
    height: auto;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 700px;
    line-height: 140%;
    font-stretch: normal;
    text-decoration: none;
}

.project5 {
    display: flex;
    padding: 8px;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    flex-direction: coulmn;
    justify-content: center;
}

.change-photo4 {
    width: 512px;
    height: 341px;
    margin: 0 0 8px 0;
    display: flex;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
}

.image4 {
    top: 0px;
    left: 0px;
    width: 512px;
    height: 341px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
}
.project4-text {
    color: white;
    width: 512px;
    height: auto;
    margin: 0 0 8px 0;
    font-size: 24px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 500px;
    line-height: 132%;
    font-stretch: normal;
    text-decoration: none;
}

.project4-links {
    width: 512px;
    height: 28px;
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    justify-content: center;
}

.github-text4 {
    top: 0px;
    left: 0px;
    color: yellow;
    height: auto;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 700px;
    line-height: 140%;
    font-stretch: normal;
    text-decoration: none;
}

.view-deployed-text4 {
    top: 0px;
    color: yellow;
    height: auto;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 700px;
    line-height: 140%;
    font-stretch: normal;
    text-decoration: none;
}

.about-me {
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    flex-direction: column;
}

.about-me-title {
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    flex-direction: column;
}

.about-me-text-title {
    color: white;
    height: auto;
    margin: 0 0 32px 0;
    font-size: 64px;
    align-self: auto;
    text-align: left;
    font-family: Inter;
    font-weight: 500px;
    line-height: 132%;
    font-stretch: normal;
    text-decoration: none;
}

.about-me-text {
    color: white;
    width: 620px;
    height: auto;
    font-style: normal;
    text-align: left;
    font-weight: 500px;
    font-stretch: normal;
    text-decoration: none;
}

.resume-button {
    width: 154px;
    height: 24px;
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    justify-content: center;
}

.resume-text {
    top: 0px;
    left: 0px;
    color: yellow;
    height: auto;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 700px;
    line-height: 140%;
    font-stretch: normal;
    text-decoration: none;
}

.contact-me {
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    flex-direction: coulmn;
}

.contact-me-title {
    margin: 0 0 64px 0;
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    flex-direction: coulmn;
}

.contact-me-text {
    color: white;
    height: auto;
    margin: 0 0 32px 0;
    font-size: 64px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 500px;
    line-height: 132%;
    font-stretch: normal;
    text-decoration: none;
}

.contact-links {
    width: 1080px;
    height: 26px;
    display: flex; 
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
}