@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px;
    background-color: blue;
}

header h1 {
    float: left;
    font-weight: bold;
    margin: 0;
    color: rgb(230, 246, 49);
    display:inline;
}

header a {
    font-size: 36px;
}


header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 20px;
}

a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: yellow;
    text-decoration: none;
    color: rgb(199, 200, 117);
    cursor: pointer;
}

.logo {
    text-indent: -999999px;
    background: url('bootcamp/Logo.png');
    width: 160px;
    height: 50px;
}

main {
    background-color: antiquewhite;
    min-height: 75%
}

section{
    min-height: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

#about-me-content{
    background-color: blueviolet;
    float: right;
    width: 70%
}

aside {
    justify-content: left;
    text-align: center;
    float: left;
    width: 30%;
    padding-top: 50px;
}

footer {
    /* seperate to work on top */
    margin-top:150px;
    padding: 30px;
    clear: both;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer a {
    color: blue;
}
